*~
.DS_Store
\#*\#
.#*
.cask/
.cache/
.session
session.*
elpaca/
auto-save-list/
backups/
transient/
url/cache/
var/
.sx/
ensime/
history/
eln-cache/
cache/
projectile-bookmarks.eld
recentf
tramp/
swank/
emms/
site-lisp/adventure-mode
*.elc
.emacs.desktop
.emacs.desktop.lock
